# 3주차 강의노트

## 1. 파이썬 클래스
- oop : object oriented progrma
- 객체지향 프로그래밍 : 데이터와 함수를 하나로 (cf 절차지향 프로그래밍)

In [1]:
# 예시
s = "hello"

In [2]:
# s.xxxxxx 과 같은 것이 바로 객체지향
s.upper()

'HELLO'

In [3]:
s.lower()

'hello'

In [4]:
a = [1,2,3]
type(a)

list

In [5]:
a.reverse()

In [6]:
a

[3, 2, 1]

In [7]:
t = "hello"

In [8]:
# 그동안 우리가 하던 방법 - 함수를 이용
holding = {'name':'miraeasset', 'shares':10, 'price':9410}
def get_cost(holding):
    return holding['shares']*holding['price']
get_cost(holding)

94100

In [9]:
# 새로운 클래스 방법
class holding:
    def __init__(self, name, shares, price):
        self.name = name
        self.shares = shares
        self.price = price
    
    def get_cost(self):
        return self.shares*self.price

In [10]:
# 명함 스타트업 gogo
name = "kim"
email = 'kim@naver.com'
addr = 'kangnam'

In [11]:
def print_bcard(name, email, addr):
    print("*" * 40)
    print("name :", name)
    print("email :", email)
    print("addr: ", addr)
    print("*" * 40)

In [12]:
print_bcard(name, email, addr)

****************************************
name : kim
email : kim@naver.com
addr:  kangnam
****************************************

In [13]:
name2 = "lee"
email2 = "lee@gmail.com"
addr2 = "seoul"

In [14]:
print_bcard(name2, email2, addr2)

****************************************
name : lee
email : lee@gmail.com
addr:  seoul
****************************************

In [15]:
# 아... -_-; 변수가 점점 많아지네???????
# 변수화로 계속할 수 없으니 변수를 담아낼 컨테이너가 필요하다
# 컨테이너는 리스트나 튜플
# 근데 튜플은 데이터 수정이 안 되자나?
# 그러니 리스트로 gogo

In [16]:
def print_bcard(name, email, addr):
    print("*" * 40)
    print("name :", name)
    print("email :", email)
    print("addr: ", addr)
    print("*" * 40)
    
name_list = ["kim", "lee"]
email_list = ["kim@naver.com", "lee@gmail.com"]
addr_list = ["kangnam", "seoul"]

In [17]:
print_bcard(name_list[0], email_list[0], addr_list[0])

****************************************
name : kim
email : kim@naver.com
addr:  kangnam
****************************************

In [18]:
# 클래스 실습

In [19]:
class BusinessCard:
    pass

In [20]:
s = str("hello")

In [21]:
s

'hello'

In [22]:
s2 = "hello"

In [23]:
member = BusinessCard()

In [24]:
type(member)

__main__.BusinessCard

In [25]:
a = 1
b = 2
c = 3
# 얘네 모두 integer type의 class

In [26]:
# 명함 클래스 업데이트
class BusinessCard:
    def set_info(self, name, email):
        self.name = name
        self.email = email

In [27]:
member1 = BusinessCard()

In [28]:
member1.set_info("kim", "kim@naver.com")

In [29]:
member1.name

'kim'

In [30]:
#오와 대박 ㅋ
member1.email

'kim@naver.com'

In [31]:
member2 = BusinessCard()

In [32]:
member2.set_info("lee", "lee@gmail.com")

In [33]:
member2.name

'lee'

In [34]:
member2.email

'lee@gmail.com'

In [35]:
member1

In [36]:
member2

In [37]:
member_list = [member1, member2]

In [38]:
#위에랑 비교합시다!
member_list[0]

In [39]:
member_list[1]

In [40]:
member_list[0].name

'kim'

In [41]:
member_list[1].name

'lee'

In [42]:
member_list[0].email

'kim@naver.com'

In [43]:
member_list[1].email

'lee@gmail.com'

In [44]:
class BusinessCard:
    def set_info(self, name, email):
        self.name = name
        self.email = email
    def print_bcard(self):
        print("-"*20)
        print(self.name)
        print(self.email)
        print("-"*20)

In [45]:
mem1 = BusinessCard()

In [46]:
mem1.set_info("kim", "kim@naver.com")

In [47]:
mem1.print_bcard()

--------------------
kim
kim@naver.com
--------------------

In [48]:
mem2 = BusinessCard()

In [49]:
mem2.set_info("lee", "lee@gmail.com")

In [50]:
mem2.print_bcard()

--------------------
lee
lee@gmail.com
--------------------

In [51]:
for x in [mem1, mem2]:
    x.print_bcard()

--------------------
kim
kim@naver.com
--------------------
--------------------
lee
lee@gmail.com
--------------------

In [52]:
# 연습문제 풀어봅시다

In [53]:
class Customer:
    def init(self, name, balance):
        self.name = name
        self.balance = balance

In [54]:
c1 = Customer()

In [55]:
c1.init("kim", 10000)

In [56]:
c1.name

'kim'

In [57]:
c1.balance

10000

In [58]:
class Customer:
    def init(self, name, balance):
        self.name = name
        self.balance = balance
    def deposit(self, money):
        self.balance = self.balance + money
    def withdraw(self, money):
        self.balance = self.balance - money

In [59]:
c1 = Customer()

In [60]:
c1.init("choi", 100000)

In [61]:
c1.balance

100000

In [62]:
c1.deposit(10000)

In [63]:
c1.balance

110000

In [64]:
c1.withdraw(1000000)

In [65]:
c1.balance

-890000

## 2. 파이썬 클래스 이해하기 - 1

In [66]:
# 전 챕터의 내용은 class선언과 변수 입력이 제각각

In [67]:
# 이번 장은 class와 변수를 동시에

In [68]:
class Test:
    def __init__(self):
        print("객체 생성됐음")

In [69]:
t = Test()
# 생성될 때 자동으로 호출되는 걸 생성자라고 함
# constructer???

객체 생성됐음

In [70]:
# 위의 카드와 비교
class BusinessCard:
    def __init__(self, name, email):
        self.name = name
        self.email = email
    def print_bcard(self):
        print("-"*20)
        print(self.name)
        print(self.email)
        print("-"*20)

In [71]:
# 바로 위 Cell에서 확인해 보면 __init__의 역할 확인
# 클래스를 생성하면서 정보가 들어오지 않아 경고 뜸
mem1 = BusinessCard("kim", "kim@naver.com")
# 경고 안 뜰 거임.....

In [72]:
# self 이해하기 (스스로 이해하기???)
class Foo:
    def func1():
        print("function 1")
    def func2(self):
        print("function 2")

In [73]:
f = Foo()

In [74]:
f.func2()

function 2

In [75]:
# f.func1()
# function1은 오류 메시지 뜸

In [76]:
# self의 정체
class Foo:
    def func2(self):
        print(id(self))

In [77]:
f = Foo()

In [78]:
id(f)

2059013820992

In [79]:
f.func2()

2059013820992

In [80]:
# 이게 무슨 말이냐?
# self는 객체 그 자신을 부른다.

In [81]:
k = Foo()

In [82]:
k.func2()

2059013821832

In [83]:
# 자 이제 다시
class Foo:
    def func1():
        print("function 1")
    def func2(self):
        print("function 2")

In [84]:
f = Foo()

In [85]:
f.func2()

function 2

In [86]:
Foo.func2(f)

function 2

In [87]:
Foo.func1()

function 1

In [88]:
k = Foo()

In [89]:
Foo.func2(k)

function 2

In [90]:
# 위에 코드와 같은 의미야!!!
k.func2()

function 2

In [91]:
# 클래스 네임스페이스
class Stock:
    market = "kospi"

In [92]:
a = Stock()

In [93]:
b = Stock()

In [94]:
a.__dict__

{}

In [95]:
b.__dict__

{}

In [96]:
# 근데? a.market을 하면 'kospi'가 출력되는데 이유
a.market

'kospi'

In [97]:
a.market = 'kosdaq'

In [98]:
a.market

'kosdaq'

In [99]:
b.market

'kospi'

In [100]:
del a.market

In [101]:
a.market

'kospi'

In [102]:
class BCard:
    pass

In [103]:
mem1 = BCard()

In [104]:
mem1.name = 'Kim'

In [105]:
mem1.email = "kim@naver.com"

In [106]:
mem2 = BCard()

In [107]:
mem1.__dict__

{'email': 'kim@naver.com', 'name': 'Kim'}

In [108]:
mem2.__dict__

{}

In [109]:
# 연습문제 1
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def setx(self, x):
        self.x = x
        
    def sety(self, y):
        self.y = y
        
    def get(self):
        return (self.x, self.y)
    
    def move(self, dx, dy):
        self.x += dx
        self.y += dy

In [110]:
# 클래스 생성자이기 때문에 처음에 값을 넣어줘야 한다.
a = Point(1,3)

In [111]:
a.get()

(1, 3)

In [112]:
a.setx(3)

In [113]:
a.sety(4)

In [114]:
a.get()

(3, 4)

In [115]:
a.move(4,5)

In [116]:
a.get()

(7, 9)

## 파이썬 클래스 이해하기 - 2

In [117]:
# 클래스 변수는 자주 사용하지는 않는다
# 다만 각각 객체가 공유가 필요할 때 아주 가끔 필요하다!

In [118]:
# 노래 잘하는 클래스
class Parent:
    def can_sing(self):
        print("Sing a song")

In [119]:
father = Parent()

In [120]:
father.can_sing()

Sing a song

In [121]:
# 운이 좋은 자식 클래스 - 자기 자신은 아무 능력이 없음
class LuckyShinyougsoon(Parent):
    pass

In [122]:
child1 = LuckyShinyougsoon()

In [123]:
# 대박!!
child1.can_sing()

Sing a song

In [124]:
# 운이 좋은 자식 클래스2
class LuckyChild2(Parent):
    def can_dance(self):
        print("Shuffle Dance")

In [125]:
child2 = LuckyChild2()

In [126]:
child2.can_sing()

Sing a song

In [127]:
child2.can_dance()

Shuffle Dance

In [128]:
# 연습문제1
class Stock:
    market = "kospi"

In [129]:
a = Stock()

In [130]:
b = Stock()

In [131]:
# 연습문제2

In [132]:
a.market

'kospi'

In [133]:
b.market

'kospi'

In [134]:
Stock.market

'kospi'

In [135]:
a.market = "kosdaq"

In [136]:
b.market = "nasdaq"

In [137]:
a.market

'kosdaq'

In [138]:
b.market

'nasdaq'

In [139]:
Stock.market

'kospi'

In [140]:
# 연습문제3은 skip

In [141]:
# 연습문제4
class Car:
    def __init__(self, maker, model, year, month, kilo):
        self.maker = maker
        self.model = model
        self.year = year
        self.month = month
        self.kilo = kilo
        
    def increase_kilometer(self, kilo):
        self.kilo += kilo

In [142]:
# 연습문제5
class Student:
    def __init__(self, name, grade, major, toeic):
        self.name = name
        self.grade = grade
        self.major = major
        self.toeic = toeic
    
    def set_name(self, name):
        self.name = name
    
    def set_grade(self, grade):
        self.grade = grade
        
    def set_major(self, major):
        self.major = major
        
    def set_toeic(self, toeic):
        self.toeic = toeic
        
    def get_name(self, name):
        print(self.name)
        
    def get_grade(self, grade):
        return self.grade
        
    def get_major(self, major):
        return self.major
        
    def get_toeic(self, toeic):
        return self.toeic

In [143]:
s1 = Student("Younsoon", "A", "Law", 680)
s2 = Student("Ayeon", "S", "Physics", 890)

## 파이썬 파일 다루기

In [144]:
# 바탕화면에 있어요. 바탕화면을 기준으로 합니다.
# 중간에 sinbi는 제 user 이름이고요. 이 부분은 본은 유저명으로 변경
f = open('C:\\Users\\Sinbi\\Desktop\\buy_list.txt', 'rt')

In [145]:
# 데이터 읽기
lines = f.readlines()

In [146]:
print(lines)

[]

In [147]:
for item in lines:
    print(item)

In [148]:
for item in lines:
    item = item.replace('\n', '')
    print(item)

In [149]:
f.close()

In [150]:
# 파이썬으로 파일 쓰기
f = open('C:\\Users\\Sinbi\\Desktop\\sell_list.txt', 'wt',\
        encoding="utf-8")

In [151]:
f.write('삼성전자\n')

5

In [152]:
f.close()

In [153]:
# csv 모듈 이용
import csv

In [154]:
f = open("C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\class-4 (file)\\miraeasset.csv", 'rt')

In [155]:
reader = csv.reader(f)

In [156]:
lines = list(reader)

In [157]:
for line in lines:
    print(line)

['일자', '시가', '고가', '저가', '종가']
['17.06.05', '9,440', '9,480', '9,310', '9,380']
['17.06.02', '9,320', '9,450', '9,320', '9,410']
['17.06.01', '9,450', '9,480', '9,240', '9,270']
['17.05.31', '9,660', '9,660', '9,500', '9,500']
['17.05.30', '9,640', '9,820', '9,550', '9,710']

In [158]:
# 위에 한글 이름은 삭제해 볼까?
for line in lines[1:]:
    print(line[4])

9,380
9,410
9,270
9,500
9,710

In [159]:
f.close()

In [160]:
# csv파일 쓰기
import csv

In [161]:
f = open('C:\\Users\\Sinbi\\Desktop\\test.csv', 'w',\
        newline='')

In [162]:
writer = csv.writer(f)

In [163]:
writer.writerow(['open','high','low','close'])

21

In [164]:
writer.writerow([100,200,80,150])

16

In [165]:
writer.writerow([90,150,80,130])

15

In [166]:
f.close()

In [167]:
# 연습문제 풀이
import csv
f = open("C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\class-4 (file)\\miraeasset.csv", 'rt')

In [168]:
reader = csv.reader(f)
lines = list(reader)

In [169]:
print(lines)

[['일자', '시가', '고가', '저가', '종가'], ['17.06.05', '9,440', '9,480', '9,310', '9,380'], ['17.06.02', '9,320', '9,450', '9,320', '9,410'], ['17.06.01', '9,450', '9,480', '9,240', '9,270'], ['17.05.31', '9,660', '9,660', '9,500', '9,500'], ['17.05.30', '9,640', '9,820', '9,550', '9,710']]

In [170]:
for line in lines:
    print(line[4])

종가
9,380
9,410
9,270
9,500
9,710

In [171]:
for line in lines[1:]:
    print(line[4])

9,380
9,410
9,270
9,500
9,710

In [172]:
# 문제 1
close_price = []
for line in lines[1:]:
    price = int(line[4].replace(',',''))
    close_price.append(price)

In [173]:
min(close_price)

9270

In [174]:
max(close_price)

9710

In [175]:
print(min(close_price), max(close_price))

9270 9710

In [176]:
f.close()

In [177]:
# 연습문제2
import csv
f = open("C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\class-4 (file)\\miraeasset.csv", 'rt')
reader = csv.reader(f)
lines = list(reader)

In [178]:
# 시가를 찾자
for line in lines:
    print(line)

['일자', '시가', '고가', '저가', '종가']
['17.06.05', '9,440', '9,480', '9,310', '9,380']
['17.06.02', '9,320', '9,450', '9,320', '9,410']
['17.06.01', '9,450', '9,480', '9,240', '9,270']
['17.05.31', '9,660', '9,660', '9,500', '9,500']
['17.05.30', '9,640', '9,820', '9,550', '9,710']

In [179]:
for line in lines:
    print(line[0:2])

['일자', '시가']
['17.06.05', '9,440']
['17.06.02', '9,320']
['17.06.01', '9,450']
['17.05.31', '9,660']
['17.05.30', '9,640']

In [180]:
for line in lines:
    print(line[0])

일자
17.06.05
17.06.02
17.06.01
17.05.31
17.05.30

In [181]:
for line in lines:
    print(line[1])

시가
9,440
9,320
9,450
9,660
9,640

In [182]:
# 쌍으로 역어서 해야 하니까 딕트로
price = {}
for line in lines[1:]:
    date = line[0]
    open_price = int(line[1].replace(',',''))
    price[date] = open_price

## 파이썬 프로젝트

In [183]:
import csv
f = open("C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\class-4 (file)\\miraeasset.csv", 'rt')
reader = csv.reader(f)
lines = list(reader)
f.close()

In [184]:
# 함수 정의
def get_column_from_csv(excel_file):
    f = open(excel_file)
    reader = csv.reader(f)
    lines = list(reader)
    print(lines)
    f.close()

In [185]:
if __name__ == "__main__":
    # 함수 호출
    get_column_from_csv("C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\\moving-average\\000660.csv")
#     get_column_from_csv("C:\\Deposit\\Study\
# \\Finance_data_analysis_study\\week03_r0\
# \\lab03\\moving-average\\000660.csv")
#     get_column_from_csv("C:\\Deposit\\Study\
# \\Finance_data_analysis_study\\week03_r0\
# \\lab03\\moving-average\\000660.csv")

[['일자', '시가', '고가', '저가', '종가', '전일비', '', '등락률', '거래량', '금액(백만)', '신용비'], ['2017/02/10', '52,000', '52,200', '50,000', '50,000', '▼', '-2,700', '-5.12', '9,120,878', '465,449', '0.24'], ['2017/02/09', '53,100', '53,700', '52,500', '52,700', '▼', '-1,900', '-3.48', '6,547,266', '347,820', '0.24'], ['2017/02/08', '53,700', '54,600', '52,400', '54,600', '▲', '1,300', '+2.44', '3,552,260', '190,289', '0.23'], ['2017/02/07', '53,800', '54,500', '53,100', '53,300', '▼', '-400', '-0.74', '2,405,891', '129,381', '0.23'], ['2017/02/06', '54,200', '54,400', '53,300', '53,700', ' ', '0', '0', '1,897,002', '102,086', '0.23'], ['2017/02/03', '52,500', '53,700', '51,800', '53,700', '▲', '900', '+1.70', '3,718,619', '196,280', '0.22'], ['2017/02/02', '53,500', '54,000', '52,700', '52,800', '▼', '-1,200', '-2.22', '3,486,140', '185,564', '0.22'], ['2017/02/01', '54,300', '54,900', '53,700', '54,000', '▲', '300', '+0.56', '2,813,046', '152,599', '0.23'], ['2017/01/31', '53,300', '54,500', '52,700', '53,700', '▲', '400', '+0.75', '4,118,790', '221,429', '0.26'], ['2017/01/26', '52,500', '53,500', '52,400', '53,300', '▲', '1,600', '+3.09', '4,517,114', '239,592', '0.25'], ['2017/01/25', '52,200', '52,500', '51,600', '51,700', '▲', '100', '+0.19', '2,715,809', '141,446', '0.26'], ['2017/01/24', '51,300', '52,000', '51,100', '51,600', '▲', '800', '+1.57', '3,449,130', '177,617', '0.25'], ['2017/01/23', '49,950', '51,000', '49,900', '50,800', '▲', '1,650', '+3.36', '4,148,659', '209,753', '0.24'], ['2017/01/20', '49,700', '50,100', '49,150', '49,150', '▼', '-450', '-0.91', '1,943,195', '96,154', '0.25'], ['2017/01/19', '49,550', '50,100', '49,100', '49,600', '▲', '750', '+1.54', '2,332,268', '115,611', '0.24'], ['2017/01/18', '48,950', '49,400', '48,300', '48,850', '▼', '-450', '-0.91', '2,974,091', '144,988', '0.24'], ['2017/01/17', '49,300', '50,200', '49,250', '49,300', ' ', '0', '0', '2,309,955', '114,605', '0.21'], ['2017/01/16', '50,100', '50,300', '48,800', '49,300', '▼', '-1,000', '-1.99', '4,974,924', '245,391', '0.20'], ['2017/01/13', '49,850', '50,700', '49,850', '50,300', '▼', '-300', '-0.59', '4,219,771', '211,613', '0.19'], ['2017/01/12', '51,600', '51,600', '50,400', '50,600', '▼', '-1,000', '-1.94', '5,060,622', '256,710', '0.17'], ['2017/01/11', '50,000', '51,900', '50,000', '51,600', '▲', '1,850', '+3.72', '4,360,058', '223,584', '0.17'], ['2017/01/10', '49,850', '50,200', '49,200', '49,750', '▲', '200', '+0.40', '2,561,968', '127,213', '0.16'], ['2017/01/09', '48,500', '49,750', '48,200', '49,550', '▲', '1,550', '+3.23', '3,871,999', '191,236', '0.18'], ['2017/01/06', '47,700', '48,450', '47,600', '48,000', '▲', '1,050', '+2.24', '3,166,843', '152,264', '0.17'], ['2017/01/05', '47,000', '47,500', '46,850', '46,950', '▲', '450', '+0.97', '2,377,163', '112,240', '0.17'], ['2017/01/04', '47,000', '47,150', '46,200', '46,500', '▼', '-750', '-1.59', '2,722,599', '127,044', '0.18'], ['2017/01/03', '46,200', '47,300', '46,200', '47,250', '▲', '1,450', '+3.17', '2,655,477', '124,284', '0.18'], ['2017/01/02', '44,750', '46,000', '44,600', '45,800', '▲', '1,100', '+2.46', '1,547,681', '70,741', '0.18'], ['2016/12/29', '45,150', '45,200', '44,600', '44,700', '▼', '-650', '-1.43', '1,808,856', '81,024', '0.17'], ['2016/12/28', '45,350', '45,750', '45,100', '45,350', '▼', '-300', '-0.66', '1,296,254', '58,863', '0.18'], ['2016/12/27', '45,550', '45,950', '45,400', '45,650', ' ', '0', '0', '1,175,619', '53,721', '0.16'], ['2016/12/26', '46,200', '46,600', '45,250', '45,650', '▼', '-650', '-1.40', '1,603,230', '73,415', '0.17'], ['2016/12/23', '46,200', '46,400', '45,950', '46,300', '▲', '800', '+1.76', '2,982,024', '137,863', '0.18'], ['2016/12/22', '46,000', '46,650', '45,150', '45,500', '▲', '500', '+1.11', '4,045,912', '185,844', '0.17'], ['2016/12/21', '45,500', '45,750', '45,000', '45,000', '▼', '-150', '-0.33', '1,662,010', '75,460', '0.17'], ['2016/12/20', '45,400', '45,550', '44,950', '45,150', ' ', '0', '0', '1,110,753', '50,221', '0.15'], ['2016/12/19', '46,250', '46,300', '45,050', '45,150', '▼', '-1,250', '-2.69', '1,997,194', '90,997', '0.16'], ['2016/12/16', '45,800', '46,450', '45,700', '46,400', '▲', '800', '+1.75', '2,100,809', '97,050', '0.15'], ['2016/12/15', '45,850', '46,050', '45,000', '45,600', '▼', '-250', '-0.55', '1,828,843', '83,217', '0.15'], ['2016/12/14', '45,350', '46,100', '45,350', '45,850', '▲', '900', '+2.00', '2,010,708', '92,038', '0.15'], ['2016/12/13', '44,700', '45,700', '44,700', '44,950', '▼', '-350', '-0.77', '1,822,952', '82,213', '0.14'], ['2016/12/12', '45,750', '45,850', '44,850', '45,300', '▼', '-200', '-0.44', '1,440,589', '65,348', '0.14'], ['2016/12/09', '46,450', '46,750', '45,450', '45,500', '▼', '-750', '-1.62', '3,003,326', '137,771', '0.14'], ['2016/12/08', '46,200', '46,650', '46,100', '46,250', '▲', '1,000', '+2.21', '3,313,157', '153,631', '0.14'], ['2016/12/07', '45,750', '45,800', '45,200', '45,250', '▲', '50', '+0.11', '1,984,369', '90,333', '0.15'], ['2016/12/06', '44,700', '45,500', '44,600', '45,200', '▲', '800', '+1.80', '3,099,065', '140,049', '0.15'], ['2016/12/05', '44,050', '44,600', '43,800', '44,400', ' ', '0', '0', '1,703,219', '75,594', '0.17'], ['2016/12/02', '43,350', '44,500', '43,300', '44,400', '▲', '200', '+0.45', '4,244,113', '186,230', '0.17'], ['2016/12/01', '43,000', '44,400', '43,000', '44,200', '▲', '1,300', '+3.03', '3,491,185', '153,723', '0.17'], ['2016/11/30', '42,900', '43,800', '42,650', '42,900', '▲', '500', '+1.18', '4,325,524', '187,138', '0.16'], ['2016/11/29', '42,400', '43,100', '41,800', '42,400', '▼', '-200', '-0.47', '1,777,480', '75,306', '0.16'], ['2016/11/28', '42,400', '43,250', '42,100', '42,600', ' ', '0', '0', '1,513,215', '64,738', '0.15'], ['2016/11/25', '43,050', '43,300', '42,250', '42,600', '▼', '-50', '-0.12', '1,328,958', '56,728', '0.15'], ['2016/11/24', '43,350', '43,850', '42,500', '42,650', '▼', '-400', '-0.93', '1,789,745', '77,021', '0.16'], ['2016/11/23', '43,000', '43,900', '42,550', '43,050', '▲', '350', '+0.82', '4,047,443', '175,818', '0.17'], ['2016/11/22', '41,250', '42,800', '41,200', '42,700', '▲', '1,950', '+4.79', '3,306,186', '139,712', '0.16'], ['2016/11/21', '41,800', '41,900', '40,650', '40,750', '▼', '-1,250', '-2.98', '1,883,627', '77,739', '0.16'], ['2016/11/18', '42,300', '42,400', '41,700', '42,000', '▲', '100', '+0.24', '3,331,134', '139,965', '0.18'], ['2016/11/17', '41,500', '41,900', '41,200', '41,900', '▲', '1,050', '+2.57', '2,383,464', '99,049', '0.19'], ['2016/11/16', '40,450', '41,000', '40,250', '40,850', '▲', '1,150', '+2.90', '2,101,878', '85,708', '0.19'], ['2016/11/15', '39,700', '40,400', '39,500', '39,700', ' ', '0', '0', '2,030,086', '81,123', '0.18'], ['2016/11/14', '40,000', '40,450', '39,700', '39,700', '▼', '-150', '-0.38', '1,589,911', '63,440', '0.17'], ['2016/11/11', '40,000', '40,450', '39,550', '39,850', '▼', '-1,150', '-2.80', '2,962,651', '118,381', '0.18'], ['2016/11/10', '41,000', '41,050', '40,500', '41,000', '▲', '1,350', '+3.40', '2,520,434', '102,927', '0.18'], ['2016/11/09', '41,650', '41,750', '38,700', '39,650', '▼', '-1,850', '-4.46', '5,779,291', '231,022', '0.18'], ['2016/11/08', '42,100', '42,150', '41,250', '41,500', ' ', '0', '0', '1,882,987', '78,310', '0.17'], ['2016/11/07', '41,800', '42,050', '41,200', '41,500', '▲', '300', '+0.73', '2,033,220', '84,599', '0.17'], ['2016/11/04', '41,150', '41,400', '40,850', '41,200', '▲', '50', '+0.12', '2,600,930', '107,062', '0.17'], ['2016/11/03', '40,900', '41,700', '40,700', '41,150', '▲', '150', '+0.37', '2,580,396', '106,289', '0.17'], ['2016/11/02', '41,250', '41,400', '40,450', '41,000', '▼', '-1,000', '-2.38', '2,822,651', '115,327', '0.18'], ['2016/11/01', '41,700', '42,350', '41,600', '42,000', '▲', '1,000', '+2.44', '3,173,446', '132,958', '0.16'], ['2016/10/31', '42,500', '42,900', '41,000', '41,000', '▼', '-1,450', '-3.42', '3,297,943', '136,815', '0.17'], ['2016/10/28', '42,700', '42,950', '42,100', '42,450', '▼', '-550', '-1.28', '2,251,179', '95,818', '0.18'], ['2016/10/27', '42,900', '43,600', '42,600', '43,000', '▲', '100', '+0.23', '4,814,197', '207,336', '0.20'], ['2016/10/26', '41,300', '42,900', '41,300', '42,900', '▲', '1,850', '+4.51', '6,364,037', '268,157', '0.21'], ['2016/10/25', '40,350', '41,650', '40,200', '41,050', '▲', '900', '+2.24', '4,469,224', '183,528', '0.21'], ['2016/10/24', '41,000', '41,150', '39,850', '40,150', '▼', '-800', '-1.95', '2,211,109', '89,073', '0.22'], ['2016/10/21', '39,500', '41,000', '39,500', '40,950', '▲', '900', '+2.25', '2,436,212', '98,732', '0.21'], ['2016/10/20', '40,250', '40,300', '38,850', '40,050', ' ', '0', '0', '5,423,960', '213,697', '0.20'], ['2016/10/19', '41,150', '41,450', '39,850', '40,050', '▼', '-1,600', '-3.84', '5,033,246', '204,102', '0.19'], ['2016/10/18', '42,200', '42,300', '41,300', '41,650', '▼', '-650', '-1.54', '2,559,222', '106,618', '0.19'], ['2016/10/17', '41,750', '42,300', '41,400', '42,300', '▲', '750', '+1.81', '2,314,725', '96,990', '0.19'], ['2016/10/14', '41,300', '41,900', '41,200', '41,550', '▲', '600', '+1.47', '2,708,972', '112,662', '0.18'], ['2016/10/13', '41,450', '41,700', '40,950', '40,950', '▼', '-300', '-0.73', '3,638,071', '149,801', '0.19'], ['2016/10/12', '41,000', '41,900', '41,000', '41,250', '▼', '-50', '-0.12', '3,521,492', '145,970', '0.19'], ['2016/10/11', '41,300', '42,000', '41,100', '41,300', ' ', '0', '0', '2,810,503', '116,692', '0.17'], ['2016/10/10', '42,200', '42,500', '41,200', '41,300', '▼', '-900', '-2.13', '2,916,252', '121,039', '0.15'], ['2016/10/07', '42,700', '42,700', '41,900', '42,200', '▼', '-350', '-0.82', '2,637,734', '111,081', '0.15'], ['2016/10/06', '43,100', '43,150', '42,400', '42,550', '▼', '-50', '-0.12', '2,815,496', '120,085', '0.17'], ['2016/10/05', '42,150', '42,950', '41,200', '42,600', '▲', '800', '+1.91', '4,387,312', '185,309', '0.17'], ['2016/10/04', '41,500', '41,800', '41,000', '41,800', '▲', '1,600', '+3.98', '3,639,803', '151,061', '0.17'], ['2016/09/30', '39,750', '40,950', '39,600', '40,200', ' ', '0', '0', '3,764,773', '151,918', '0.14'], ['2016/09/29', '40,600', '40,750', '40,150', '40,200', '▼', '-1,000', '-2.43', '3,976,705', '160,555', '0.14'], ['2016/09/28', '41,300', '42,000', '40,950', '41,200', '▲', '50', '+0.12', '4,189,804', '173,738', '0.15'], ['2016/09/27', '39,400', '41,150', '39,150', '41,150', '▲', '1,650', '+4.18', '4,001,505', '161,299', '0.15'], ['2016/09/26', '39,350', '39,500', '38,800', '39,500', '▲', '150', '+0.38', '1,669,862', '65,541', '0.15'], ['2016/09/23', '39,550', '39,650', '39,050', '39,350', '▼', '-50', '-0.13', '2,095,120', '82,684', '0.16'], ['2016/09/22', '39,800', '39,800', '39,150', '39,400', '▲', '250', '+0.64', '3,214,630', '126,956', '0.16'], ['2016/09/21', '39,000', '39,150', '38,650', '39,150', '▼', '-100', '-0.25', '1,731,450', '67,373', '0.16'], ['2016/09/20', '39,200', '39,450', '38,750', '39,250', '▲', '50', '+0.13', '2,594,490', '101,523', '0.18'], ['2016/09/19', '38,700', '39,450', '38,250', '39,200', '▲', '1,400', '+3.70', '5,283,684', '206,504', '0.17'], ['2016/09/13', '37,600', '38,300', '37,500', '37,800', '▲', '800', '+2.16', '3,928,646', '148,813', '0.14'], ['2016/09/12', '37,500', '38,300', '37,000', '37,000', '▼', '-1,950', '-5.01', '4,885,896', '183,553', '0.14'], ['2016/09/09', '38,550', '39,000', '38,350', '38,950', '▲', '250', '+0.65', '2,748,415', '106,339', '0.15'], ['2016/09/08', '37,900', '38,700', '37,900', '38,700', '▲', '800', '+2.11', '3,698,781', '142,604', '0.17'], ['2016/09/07', '38,200', '38,800', '37,900', '37,900', '▼', '-100', '-0.26', '3,786,844', '145,397', '0.18'], ['2016/09/06', '37,750', '38,000', '37,350', '38,000', '▲', '500', '+1.33', '2,123,160', '80,230', '0.19'], ['2016/09/05', '36,900', '37,500', '36,850', '37,500', '▲', '850', '+2.32', '2,337,575', '87,358', '0.19'], ['2016/09/02', '36,100', '36,700', '35,950', '36,650', '▲', '550', '+1.52', '1,828,390', '66,735', '0.19'], ['2016/09/01', '36,400', '36,400', '35,700', '36,100', '▼', '-350', '-0.96', '1,713,669', '61,865', '0.20'], ['2016/08/31', '36,400', '36,450', '35,750', '36,450', '▲', '150', '+0.41', '2,832,970', '102,674', '0.21'], ['2016/08/30', '36,800', '36,950', '35,550', '36,300', '▲', '50', '+0.14', '2,766,460', '100,451', '0.21'], ['2016/08/29', '35,350', '36,400', '35,300', '36,250', ' ', '0', '0', '2,782,441', '100,078', '0.21'], ['2016/08/26', '35,850', '36,350', '35,750', '36,250', '▲', '550', '+1.54', '2,635,343', '95,238', '0.22'], ['2016/08/25', '35,100', '35,750', '34,900', '35,700', '▼', '-50', '-0.14', '1,568,516', '55,480', '0.23'], ['2016/08/24', '35,900', '35,950', '35,300', '35,750', '▲', '150', '+0.42', '1,689,924', '60,274', '0.24'], ['2016/08/23', '36,250', '36,300', '35,550', '35,600', '▼', '-400', '-1.11', '3,014,421', '108,200', '0.25'], ['2016/08/22', '35,500', '36,050', '35,250', '36,000', '▲', '600', '+1.69', '4,149,396', '148,429', '0.27'], ['2016/08/19', '34,400', '35,400', '34,200', '35,400', '▲', '1,250', '+3.66', '4,683,750', '163,891', '0.28'], ['2016/08/18', '33,550', '34,250', '33,550', '34,150', '▲', '600', '+1.79', '1,855,081', '63,027', '0.28'], ['2016/08/17', '33,750', '33,900', '32,900', '33,550', '▼', '-150', '-0.45', '2,083,372', '69,423', '0.26'], ['2016/08/16', '34,950', '34,950', '33,700', '33,700', '▼', '-650', '-1.89', '2,883,043', '98,301', '0.26'], ['2016/08/12', '34,450', '35,100', '34,200', '34,350', '▼', '-450', '-1.29', '2,437,735', '84,131', '0.27'], ['2016/08/11', '33,700', '34,800', '33,450', '34,800', '▲', '1,000', '+2.96', '2,980,478', '102,100', '0.25'], ['2016/08/10', '34,900', '35,000', '33,650', '33,800', '▼', '-1,250', '-3.57', '3,193,311', '108,770', '0.25'], ['2016/08/09', '34,850', '35,200', '34,450', '35,050', '▲', '100', '+0.29', '2,112,078', '73,712', '0.25'], ['2016/08/08', '35,150', '35,250', '34,400', '34,950', '▲', '150', '+0.43', '2,157,854', '75,245', '0.26'], ['2016/08/05', '34,300', '34,900', '33,950', '34,800', '▲', '1,150', '+3.42', '2,830,058', '97,888', '0.26'], ['2016/08/04', '33,950', '34,200', '33,350', '33,650', '▲', '100', '+0.30', '1,477,680', '49,870', '0.25'], ['2016/08/03', '33,300', '34,400', '33,000', '33,550', '▼', '-200', '-0.59', '2,698,841', '90,997', '0.24'], ['2016/08/02', '34,600', '34,700', '33,650', '33,750', '▼', '-1,100', '-3.16', '2,123,735', '72,196', '0.24'], ['2016/08/01', '34,700', '35,300', '34,600', '34,850', '▲', '450', '+1.31', '3,274,413', '114,265', '0.26'], ['2016/07/29', '33,550', '34,400', '33,450', '34,400', '▲', '850', '+2.53', '4,660,512', '159,428', '0.27'], ['2016/07/28', '33,150', '33,550', '33,000', '33,550', '▲', '100', '+0.30', '3,586,965', '119,563', '0.29'], ['2016/07/27', '32,600', '33,450', '32,550', '33,450', '▲', '1,400', '+4.37', '4,762,165', '157,830', '0.29'], ['2016/07/26', '32,400', '32,400', '31,100', '32,050', '▼', '-450', '-1.38', '5,028,045', '159,062', '0.29'], ['2016/07/25', '32,300', '32,650', '32,150', '32,500', '▲', '500', '+1.56', '2,147,590', '69,560', '0.28'], ['2016/07/22', '32,150', '32,150', '31,200', '32,000', '▼', '-150', '-0.47', '2,442,893', '77,259', '0.28'], ['2016/07/21', '32,400', '32,800', '32,100', '32,150', '▲', '50', '+0.16', '1,879,147', '60,792', '0.29'], ['2016/07/20', '32,300', '32,400', '31,850', '32,100', '▼', '-350', '-1.08', '1,775,583', '56,834', '0.28']]

In [186]:
path1 = "C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\\moving-average\\000660.csv"
path2 = "C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\\moving-average\\066570.csv"
path3 = "C:\\Deposit\\Study\
\\Finance_data_analysis_study\\week03_r0\
\\lab03\\moving-average\\136480.csv"

In [187]:
# 함수 새롭게 정의 즉, 칼럼 제목으로 해당 칼럼 데이터만 뽑기
import csv
def get_column_from_csv(excel_file, column_name):
    f = open(excel_file)
    reader = csv.reader(f)
    lines = list(reader)
    f.close()
    
    # column_name 값에 대해 정리
    col_idx = lines[0].index(column_name)
    
    # lines 에서 cloumn_name에 해당하는 데이터 뽑아내기
    column_list=[]
    
    for line in lines[1:]:
        column = line[col_idx]
        column_list.append(column)
        
    return column_list

In [188]:
if __name__ == "__main__":
    # 함수 호출
    ret = get_column_from_csv(path2, '시가')
    
print(ret)

['61,800', '60,400', '59,000', '58,900', '58,800', '58,700', '58,500', '55,800', '53,500', '55,000', '54,300', '53,300', '54,100', '54,400', '53,700', '52,800', '52,300', '52,900', '53,100', '52,100', '51,700', '53,100', '52,300', '53,800', '54,000', '54,200', '51,800', '51,800', '51,400', '50,800', '50,900', '49,800', '49,350', '48,200', '47,700', '47,900', '47,800', '47,850', '47,850', '49,100', '48,000', '47,900', '47,600', '47,500', '47,250', '46,100', '46,300', '46,300', '44,700', '45,400', '45,200', '45,750', '46,100', '46,550', '45,900', '46,250', '46,700', '46,900', '46,650', '47,200', '46,100', '47,000', '46,500', '46,400', '48,000', '47,550', '47,600', '47,600', '47,550', '47,150', '47,600', '47,350', '48,850', '50,300', '50,000', '50,900', '50,800', '51,000', '50,400', '50,200', '50,100', '50,500', '50,400', '51,900', '53,700', '51,600', '48,700', '49,400', '48,000', '46,850', '48,200', '48,800', '49,250', '50,100', '49,850', '50,500', '50,200', '50,700', '49,250', '50,100', '49,950', '51,400', '51,800', '51,900', '53,400', '54,200', '53,000', '51,900', '51,500', '52,300', '52,000', '51,600', '52,100', '52,100', '51,400', '51,600', '52,700', '52,300', '53,100', '53,500', '53,200', '53,000', '52,700', '53,100', '53,800', '53,000', '53,700', '52,600', '53,100', '52,700', '53,600', '53,900', '55,100', '56,000', '54,700', '53,200', '53,300', '53,100', '54,400', '54,900', '55,500', '56,100', '56,000', '55,800', '56,600', '55,300', '56,100', '56,900', '55,500', '55,800', '56,000', '54,700', '54,500', '54,100', '53,500', '51,900', '50,900', '55,900', '54,800', '55,600', '55,500', '54,800', '53,800', '54,600', '54,700', '55,700', '55,800', '56,900', '55,300', '54,100', '54,600', '54,300', '55,900', '56,100', '56,300', '56,100', '54,000', '53,200', '53,600', '52,900', '52,200', '54,000', '54,100', '54,400', '55,000', '53,800', '54,600', '55,000', '57,500', '55,800', '59,000', '59,200', '59,600', '58,200', '58,900', '58,600', '59,400', '61,300', '61,800', '61,600', '61,800', '62,800', '63,500', '62,700', '63,900', '63,200', '64,300', '64,500', '62,700', '63,300', '63,000', '62,900', '62,000', '61,900', '63,000', '62,300', '62,000', '61,500', '62,800', '63,900', '63,400', '63,200', '63,700', '63,100', '62,700', '61,000', '62,900', '64,000', '62,700', '63,200', '63,700', '63,800', '62,700', '63,600', '65,200', '66,100', '64,300', '63,400', '63,200', '62,600', '63,100', '62,500', '59,800', '60,300', '59,500', '58,700', '57,700', '55,500', '54,900', '56,900', '55,900', '56,300', '56,700', '58,000', '57,500', '57,400', '55,600', '56,300', '57,400', '54,700', '52,900', '54,800', '55,200', '55,900', '58,200', '56,400', '57,300', '56,000', '55,700', '54,500', '55,200', '54,100', '52,100', '53,900', '53,000', '52,400', '54,000', '53,000', '52,900', '52,800', '51,700', '51,400', '52,600', '50,900', '47,800', '48,600', '49,550', '52,200', '51,900', '52,400', '53,400', '52,000', '53,600', '55,200', '54,200', '54,500', '56,000', '56,500', '56,900', '55,500', '57,000', '56,900', '54,800', '55,300', '54,700', '54,000', '54,300', '52,600', '53,300', '51,500', '49,950', '50,800', '51,200', '50,600', '51,300', '48,600', '51,500', '54,500', '53,400', '53,300', '53,900', '54,400', '54,500', '47,500', '47,000', '46,100', '46,750', '45,550', '46,200', '47,150', '47,400', '46,800', '44,800', '44,850', '45,450', '46,150', '45,700', '43,950', '44,200', '44,600', '45,600', '46,400', '46,500', '47,050', '47,300', '46,250', '45,800', '47,250', '46,500', '46,150', '47,000', '43,550', '43,450', '44,500', '44,350', '42,700', '44,400', '44,350', '43,800', '44,400', '41,500', '40,600', '39,500', '39,350', '40,250', '41,150', '40,350', '41,100', '40,550', '39,600', '40,650', '40,700', '41,250', '41,750', '41,950', '41,000', '40,600', '40,800', '42,900', '43,600']

In [189]:
# solution03 / comma를 제거하자
import csv
def get_column_from_csv(excel_file, column_name, remove_comma):
    f = open(excel_file)
    reader = csv.reader(f)
    lines = list(reader)
    f.close()
    
    # column_name 값에 대해 정리
    col_idx = lines[0].index(column_name)
    
    # lines 에서 cloumn_name에 해당하는 데이터 뽑아내기
    column_list=[]
    
    for line in lines[1:]:
        column = line[col_idx]
        if remove_comma == 0:
            column = int(column.replace(',',''))
        column_list.append(column)
        
    return column_list

In [190]:
if __name__ == "__main__":
    # 함수 호출
    ret = get_column_from_csv(path1, '저가', 0)
    
print(ret)

[50000, 52500, 52400, 53100, 53300, 51800, 52700, 53700, 52700, 52400, 51600, 51100, 49900, 49150, 49100, 48300, 49250, 48800, 49850, 50400, 50000, 49200, 48200, 47600, 46850, 46200, 46200, 44600, 44600, 45100, 45400, 45250, 45950, 45150, 45000, 44950, 45050, 45700, 45000, 45350, 44700, 44850, 45450, 46100, 45200, 44600, 43800, 43300, 43000, 42650, 41800, 42100, 42250, 42500, 42550, 41200, 40650, 41700, 41200, 40250, 39500, 39700, 39550, 40500, 38700, 41250, 41200, 40850, 40700, 40450, 41600, 41000, 42100, 42600, 41300, 40200, 39850, 39500, 38850, 39850, 41300, 41400, 41200, 40950, 41000, 41100, 41200, 41900, 42400, 41200, 41000, 39600, 40150, 40950, 39150, 38800, 39050, 39150, 38650, 38750, 38250, 37500, 37000, 38350, 37900, 37900, 37350, 36850, 35950, 35700, 35750, 35550, 35300, 35750, 34900, 35300, 35550, 35250, 34200, 33550, 32900, 33700, 34200, 33450, 33650, 34450, 34400, 33950, 33350, 33000, 33650, 34600, 33450, 33000, 32550, 31100, 32150, 31200, 32100, 31850]

In [191]:
list(range(30, 0, -1))

[30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [192]:
# solution4 N일 주가이동평균 함수 구현하기
def cal_moving_average(input, day):
    result = []
    
    for i in range(len(input)):
        if i < day:
            result.append('아유 못 구해유')
            
        else:
            ma = sum(input[i-day:i])/day
            result.append(ma)
        
    return result

if __name__ == "__main__":
    ret = cal_moving_average(list(range(30, 0, -1)), 5)
    
    print(ret)

['아유 못 구해유', '아유 못 구해유', '아유 못 구해유', '아유 못 구해유', '아유 못 구해유', 28.0, 27.0, 26.0, 25.0, 24.0, 23.0, 22.0, 21.0, 20.0, 19.0, 18.0, 17.0, 16.0, 15.0, 14.0, 13.0, 12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0]

## 나머지 내용은 pycharm에서 실행